/* ╔═══════════════════════════════════════════════════════════════════════════════╗
   ║                                 ROFI FONTS                                    ║
   ╚═══════════════════════════════════════════════════════════════════════════════╝ */

* {
    font: "Fira Sans Bold 12";
}